/* * {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 17px;
}

header{
  background-color: #03a3df;
  color: white;
  position: relative;
  padding: 1px;
  line-height: .5;
  text-indent: 4rem;
}

nav{
  color: white;
  background-color: #444444;
  position: relative;
  float: left;
  padding: 1rem;
  width: 100%;
}

ul li{
  list-style-type: none;
  display: inline;

}

li:after {
  content: "  ";
}

li:last-child::after {
  content: " ";
}

.wrap {
  overflow: auto;
}

h1{
  font-family: Arial bold;
  font-size: 40px;
}

h2{
  font-family: Arial bold;
  font-size: 24px;
}

h3 {
  font-family: Arial;
  font-size: 17px;
}

article {
  background-color: #1b447f;
}

grid-container {
  display: grid;
  grid-row-gap: 0;
}





footer {
  width: 100%;
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/UWFront-End-Cert/html100/master/lesson07-styleguide/styleguide%20design%20elements/footerImage.jpg");
  background-size: 100% 100%;
  position: relative;
  float: left;
  padding: 1rem;
} */



* {
    box-sizing: border-box;
}
body {
  font-family: Arial;
  font-size: 17px;
}

header{
  background-color: #03a3df;
  color: white;
  position: relative;
  padding: 1px;
  line-height: .5;
  text-indent: 4rem;
}

nav{
  color: white;
  background-color: #444444;
  position: relative;
  float: left;
  padding-bottom: .5rem;
  width: 100%;
}

ul li{
  list-style-type: none;
  display: inline;
  padding: 1rem;

}

.nav:hover {
  font-size: 120%;
  text-decoration: underline;
}

h1{
  font-family: Arial bold;
  font-size: 40px;
}

h2{
  font-family: Arial bold;
  font-size: 24px;
}

h3 {
  font-family: Arial;
  font-size: 17px;
}

article {
  background-color: #1b447f;
}

.wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 100px);
}

.box1 {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 4;
}

.box2 {
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 3;
}
.box3 {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 2;
}


a {
  color: #ecb722;
  text-decoration: none;
}

.footer {
  width: 100%;
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/UWFront-End-Cert/html100/master/lesson07-styleguide/styleguide%20design%20elements/footerImage.jpg");
  background-size: 100% 100%;
  position: relative;
  float: left;
  padding: 1rem;
}
