* {
    box-sizing: border-box;
}
body {
  font-family: Arial;
  font-size: 17px;
}

header{
  background-color: #1b447f;
  color: white;
  position: relative;
  padding: 1px;
  line-height: .5;
  text-indent: 4rem;
}

nav{
  color: white;
  background-color: #444444;
  position: relative;
  float: left;
  padding-bottom: .5rem;
  width: 100%;
}

ul li{
  list-style-type: none;
  display: inline;
  padding: 1rem;

}

.nav:hover {
  font-size: 120%;
  text-decoration: underline;
}


h1{
  font-family: Arial bold;
  font-size: 40px;
}

h2{
  font-family: Arial bold;
  font-size: 24px;
}

h3 {
  font-family: Arial;
  font-size: 17px;
}

main {
  margin-bottom: .25rem;
}

.wrapper {
  overflow: auto;
}

 article {
  background-color: #03a3df;
  padding: 1rem;
}

grid-container {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: auto;
}

.grid-1 {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.grid-2 {
  grid-row: 2;
  grid-column: 3 / span 4;
}

/* .content-box{
  width: 60%;
  height: 30%;
  margin: 0 auto;
  float: left;
  position: relative;

}

.sidebar-box {
width: 40%;
height: 100%;
margin: 0 auto;
position: relative;
float: right;
} */




a {
  color: #ecb722;
  text-decoration: none;
}

footer {
  width: 100%;
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/UWFront-End-Cert/html100/master/lesson07-styleguide/styleguide%20design%20elements/footerImage.jpg");
  background-size: 100% 100%;
  position: relative;
  float: left;
  padding: 1rem;
}
