* {
    box-sizing: border-box;
}
body {
  font-family: Arial;
  font-size: 17px;
}

header{
  /* background-color: #1b447f; */
background-color: white;
  color: white;
  position: relative;
  padding: 1px;
  line-height: .5;
  text-indent: 4rem;
}

nav{
  color: white;
  background-color: #444444;
  position: relative;
  float: left;
  padding-bottom: .5rem;
  width: 100%;
}

ul li{
  list-style-type: none;
  display: inline;
  padding: 1rem;

}

/* .nav:hover {
  font-size: 120%;
  text-decoration: underline;
} */


h1{
  font-family: Arial bold;
  font-size: 40px;
}

h2{
  font-family: Arial bold;
  font-size: 24px;
}

h3 {
  font-family: Arial;
  font-size: 17px;
}

main {
  margin-bottom: .25rem;
}

.wrapper {
  overflow: auto;
}

 article {
   background-color: #03a3df;
  /* background-color: #1b447f; */
  padding: 2rem;
}

main{
  background-color: #03a3df;
  padding: 2rem;
}

/*Grid*/

.grid-container {
  display: grid;
  grid-column-gap: 25px;
  grid-template-columns: auto auto auto;
   background-color: inherit;
  padding: 1rem;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1rem;
  font-size: 17px;
  font-family: Arial;
  text-align: center;
}

/* Skip to Main text link for A11y */
a.skip {
    position: absolute;
    top: auto;
    left: -1000px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

a.skip:active, a.skip:focus,a.skip:hover {
    color: #fff;
    background-color: #000;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    overflow: auto;
    text-align: center;
    font-size: 1.2em;
}


/*
grid-container {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: auto;
}
*/
/* .grid-1 {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.grid-2 {
  grid-row: 2;
  grid-column: 3 / span 4;
}  */

/* .content-box{
  width: 60%;
  height: 30%;
  margin: 0 auto;
  float: left;
  position: relative;

}

 sidebar-box {
width: 40%;
height: 100%;
margin: 0 auto;
position: relative;
float: right;
} */

/* FORM */
button, input, select, textarea {
font-family: inherit;
font-size: 100%;
}

input, textarea, select, button {
/* width: 125px;
margin: 0; */
box-sizing: border-box;
}

fieldset {
  border:1px solid black
}

legend {
  padding: 0.2em 0.5em;
  border:1px solid black;
  color:black;
  font-size:90%;
  text-align:left;
  font-weight: bold;
  }


  label {
    float:left;
    width:25%;
    margin-right:0.5em;
    padding-top:0.2em;
    text-align:left;
    }

input[type="email"]{
border: 2px solid black;
}

input[type="text"]{
border: 2px solid black;
}

input[type="number"]{
border: 2px solid black;
}

input[type="date"]{
border: 2px solid black;
}


input[type=submit] {
  background-color: #ecb722;
  color: white;
  padding: 12px 20px;
  border: none;
  width: 150px;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #444444;
}

 input[type=text], select, textarea {
  width: 100%;
  padding: 5px;
  border: 2px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

a {
  color: #ecb722;
  text-decoration: none;
}


footer {
  width: 100%;
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/UWFront-End-Cert/html100/master/lesson07-styleguide/styleguide%20design%20elements/footerImage.jpg");
  background-size: 100% 100%;
  position: relative;
  float: left;
  padding: 1rem;
}
